<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="leaveamessage">
<head>
    <title></title>
    <link rel="stylesheet" href="/CSS/app.css" />
    <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
</head>
<body>
    <div ng-controller="Login">
        <h2>Login</h2>
        <form ng-submit="Login.Submit()">
            <input type="email" placeholder="Enter your email address" required ng-model="Login.EmailAddress" />
            <input type="password" placeholder="Enter your password" required ng-model="Login.Password" />
            <span ng-bind="ErrorMessage"></span>
            <input type="submit" value="Login" />
        </form>
    </div>
    <div ng-controller="SignUp">
        <h2>Sign Up</h2>
        <form ng-submit="SignUp.Submit()">
            <input type="email" placeholder="Enter your email address" required ng-model="SignUp.EmailAddress" />
            <input type="password" placeholder="Choose a password" required ng-model="SignUp.ChoosePassword" />
            <input type="password" placeholder="Re-enter your password" required ng-model="SignUp.ReEnterPassword" />
            <input type="submit" value="Sign Up" />
        </form>
    </div>
    <script type="text/javascript" src="/Scripts/Thirdparty/angular.js"></script>
    <script type="text/javascript" src="/Scripts/Thirdparty/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/Thirdparty/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/Scripts/CommonConstants.js"></script>
    <script type="text/javascript" src="/Scripts/LoginSignup.js"></script>
</body>
</html>
